.cardContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px -1px #afaeae;
  border-radius: 8px;
}
.image {
  width: 100%;
  margin: auto;
}
.description {
  font-size: 1.3rem;
  color: gray;
}
.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #224957;
  line-height: 0%;
}
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnImage {
  width: 1.5rem;
  margin-left: 1.1rem;
}

.buttonsContainer > p {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #224957;
  font-weight: 500;
}
