.bgContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchContainer {
  margin: 0.5rem auto 2rem;
  width: 73vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterContainer {
  position: fixed;
  top: 18rem;
  left: 0;
}
