.bgContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 0 2rem;
}

.searchContainer {
  border: 1px solid green;
  margin: 1rem auto;
  width: 73vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterContainer {
  position: fixed;
  top: 18rem;
  left: 0;
}
