.navContainer {
  padding: 0.5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 84%;
  box-shadow: 0 10px 5px -5px #d1d1d1;
}
.navBrand {
  color: red;
  font-size: 1.3rem;
  font-weight: 600;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: auto;
}
.navLink {
  position: relative;
  color: #1d1d1d;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 9rem;
  cursor: pointer;
}
.navLink img {
  width: 2.5rem;
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.cartCount {
  position: absolute;
  top: -8px;
  left: 1.9rem;
  background-color: rgba(255, 166, 0, 0.769);
  color: white;
  border-radius: 22rem;
  text-align: center;
  font-size: 0.8rem;
  padding: 3px 6px;
}
